//==============================================================================
//  Module: Sidebar
//==============================================================================

.subModule{
  width: $content-width-sub;
  float: right;

  @include respondTo(small){
    width: 100%;
    float: none;
  }
}
